
body{
    background-image: url(assets/images/pic.jpg);
    background-size: cover;

}
.navigation .navbar-brand{
    color: white; 
    margin-left: 35px; 
    padding: inherit; 
    font-weight: bold; 
    background-color:rgb(12, 86, 204);
}

.navbar-nav {
    font-size: 20px;
}

.btn{
    background-color: rgb(12, 86, 204);
}

.container {
    background-color: white;
    margin-top: 15px;
    opacity: 1;
    margin-bottom: 50px;
}
.p1 {
    text-align: center;
}

.table {
    width: auto;
}
.box {
    padding: 10px 10px; 
    background-color:white;
  }
  
.title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    color: rgb(12, 86, 204)
  }

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 86, 204); 
    color: white;
    text-align: center;
    border-top-style: solid; 
    border-top-color: white;
    border: black;
    color: white; 
    height: 40px; 
    font-size: 14px; 
    padding-top: 10px; 
    
    }